<div class='embed-header'>
	<a href='http://prototype.trailcatalog.org/trail/{{id}}' class='overlay' target="_blank"></a>
	<ul>
		<li class='embed-logo'>Trail Catalog</li>
		<li>{{title}}</li>
		<li>{{numberCommas elevation}}'</li>
		<li>{{length}} Mi</li>
	</ul>
</div>

<div id="map" style="width:100%;height:100%"></div>

<script type="text/javascript">
	{{{trailData}}}
</script>


<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="bower_components/mapbox.js/mapbox.js"></script>
<script type="text/javascript" src="bower_components/Leaflet.label/dist/leaflet.label.js"></script>

<script type="text/javascript" src="js/label.js"></script>
<script type="text/javascript" src="js/segment.js"></script>
<script type="text/javascript" src="js/staticRouteLayer.js"></script>
<script type="text/javascript" src="js/staticEngine.js"></script>