<nav>
	<a class='button-logo' href='/'></a>
	<div class="trail-name-block"></div>
	<a class='button-add-trail' href='newtrail'>Add a trail</a>
</nav>


{{#if rows}}
<ul class='trail-list'>
	{{#each rows}}
	<li>
		<div class='trail-title relative'>
			{{title}}
			<span>Details about location to be added later</span>
			<a class='overlay' href='/trail/{{id}}'></a>
		</div>
		<div class='button-edit-home relative'>
			<a class='overlay' href='/edittrail/{{id}}'></a>
		</div>
		<div class='button-delete-home relative'>
			<a class='overlay' href='/api/deletetrail/{{id}}'></a>
		</div>
		<div class='info-elevation'>
			{{elevation}} Feet
			<span>Elevation Gain</span>
		</div>
		<div class='info-distance'>
			{{length}} Miles
			<span>Distance One-Way</span>
		</div>
	</li>
	{{/each}}
</ul>
{{/if}}